# Derleme Çıktıları ve Executable Dosyalar (Windows/C)
*.exe
*.out
*.o
*.obj
*.dll
*.lib
*.a

# Derleme Klasörleri
bin/
build/
out/
Debug/
Release/
x64/
x86/

# IDE ve Editör Klasörleri
.vscode/
.idea/
*.suo
*.user
*.sln
cmake-build-*/

# Log ve Hata Dosyaları
*.log
*.err

# İşletim Sistemi Geçici Dosyaları
.DS_Store
Thumbs.db